<h1>Workout Templates</h1>
<p>This is the first step to setting up your workouts. Select from the fields below to add to your Workouts <%= render "icons/barbell" %> page.</p>
<p>All workouts on the Workouts <%= render "icons/barbell" %> page will then be used when you create sessions. Don't see a template here for a workout you do? <%= link_to "Create your own workout", new_workout_path %>.</p>
<p></p>
<%= render "workouts/template_form", templates: @templates %>
