<div class="session-card" id="<%= dom_id(workout_session, :card) %>">
  
  <%= link_to workout_session.title, workout_session_path(workout_session) %>

  <ul class="session-card-workouts">
    <% workout_session.workout_instances.each do |instance| %>
      <li class="session-card-workout">
        <%= instance.name %>
      </li>
    <% end %>
  </ul>

  <%= button_to "Delete", workout_session_path(workout_session), method: :delete %>
</div>
