<header id="<%= dom_id(workout_session, :title_display) %>" class="session-title">
  <h1><%= workout_session.title %></h1>

  <%= turbo_frame_tag dom_id(workout_session, :title) do %>
    <%= link_to "Edit Title", edit_workout_session_path(workout_session), class: "basic-button" %>
  <% end %>
</header>
