<h1>Workout Session</h1>
<%# workout_session.workout_instances.each do |workout_instance| %>
<%#   render "workout_instance/workout_instance", workout_instance: workout_instance %>
<%# end %>
<h2><%= workout_session.user.email_address %></h2>
<h3>Workout session ID: <%= workout_session.id %></h3>
