<h1><%= link_to "Workout Session #{workout_session.id}", workout_session_path(workout_session) %></h1>
<div class="workout-instances">
  <%= render "workout_instances/workout_instances", workout_session: workout_session %>
</div>
<h2><%= workout_session.user.email_address %></h2>
