<div id="confirm-email">
  <% if user.email_confirmed? %>
    <h1>Email is confirmed</h1>
  <% else %>
    <% if @confirmation_sent_recently %>
      <p>Please wait ~30 seconds before refreshing and trying to send another confirmation email.</p>
    <% else %>
      <%= form_with url: send_confirmation_email_user_path(user) do |form| %>
        <%= form.submit "Send Confirmation Email", class: "basic-button" %>
      <% end %>
    <% end %>
  <% end %>
</div>
