<%= turbo_frame_tag combined_dom_id(workout_instance, WorkoutSet.new) do %>
  <%= link_to new_workout_instance_workout_set_path(workout_instance), class: "basic-button" do %>
    <%= render "icons/plus" %>
    <span>New</span>
  <% end %>
<% end %>
