/*
 * This is a manifest file that'll be compiled into application.css.
 *
 * With Propshaft, assets are served efficiently without preprocessing steps. You can still include
 * application-wide styles in this file, but keep in mind that CSS precedence will follow the standard
 * cascading order, meaning styles declared later in the document or manifest will override earlier ones,
 * depending on specificity.
 *
 * Consider organizing styles into separate files for maintainability.
 */
@import "colors.css";

html,
body {
  margin: 0;
  padding: 0;
  background-color: var(--color-background);
}

.content,
.flash {
  padding-left: 20vw;
  padding-right: 20vw;

  @media (max-width: 768px) {
    padding-left: 5vw;
    padding-right: 5vw;
  }
}
