:root {
  --color-background: #091817;
  --color-2: #143338;
  --color-3: #214d67;
  --color-4: #2e6aa6;
  --color-5: #7690d9;
  --color-links: #aab7ed;
  --color-text: #c8cbf4;

  --color-notice: #3aa769
}
