@import "colors.css";

.navbar {
  background-color: var(--color-2);
  margin-top: 0px;
  height: 50px;
}

.navbar ul {
  display: flex;
  flex-direction: row;
  gap: 20px;
  height: 100%;
  align-items: center;
  margin: 0px;
  padding-left: 15px;
  padding-right: 15px;
  list-style-type: none;

  @media(min-width: 768px) {
    padding-left: 20vw;
    padding-right: 20vw;
  }
}

.navbar ul .nav-elem-right {
  margin-left: auto;
  margin-right: 15px;
}

.navbar a {
  all: unset;
  background-color: var(--color-3);
  color: var(--color-text);
  border-radius: 0.5em;
  padding: 0.5em;
  cursor: pointer;
}
