h1,
h2,
h3,
h4,
h5,
h6,
p,
label,
span {
  color: var(--color-text);
}

p,
a,
input,
span {
  font-size: 16px;
}

a {
  color: var(--color-links);
}

form input {
  max-width: 100%
}

button,
input[type="submit"],
.basic-button,
.red-button,
.basic-card-button {
  all: unset;
  display: flex;
  gap: 0.25rem;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: fit-content;
  background-color: var(--color-3);
  color: var(--color-text);
  border-radius: 0.5em;
  padding: 0.5em;
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.red-button {
  background-color: var(--color-warning);
}

.basic-card-button {
  background-color: var(--color-4);
}

.basic-button svg,
.basic-card-button svg,
.red-button svg {
  width: 85%;
  height: auto;
}

.basic-button span,
.basic-card-button span,
.red-button span,
.navbar ul li button span {
  @media(max-width: 768px) {
    display: none;
  }
}
