h1,
h2,
h3,
h4,
h5,
h6,
p,
label {
  color: var(--color-text);
}

p,
a,
input {
  font-size: 16px;
}

a {
  color: var(--color-links);
}

button,
input[type="submit"] {
  all: unset;
  background-color: var(--color-3);
  color: var(--color-text);
  border-radius: 0.5em;
  padding: 0.5em;
  cursor: pointer;
}
