h1,
h2,
h3,
h4,
h5,
h6,
p,
label,
span,
em {
  color: var(--color-text);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

p,
a,
input,
span,
textarea {
  font-size: 16px;
}

a {
  color: var(--color-links);
}

form {
  display: flex;
  flex-direction: column;
}

button,
.basic-button,
.text-only-button,
.red-button,
.cancel-button,
.green-button,
.basic-card-button,
.button-to {
  all: unset;
  display: flex;
  gap: 0.25rem;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  width: fit-content;
  background-color: var(--color-3);
  color: var(--color-text);
  border-radius: 0.5em;
  padding: 0.5em;
  cursor: pointer;
  user-select: none;
  max-height: 20px;
  -webkit-user-select: none;
  -moz-user-select: none;
}

input[type="text"],
input[type="email"],
input[type="number"],
input[type="password"],
input[type="checkbox"],
textarea,
select {
  background-color: var(--color-2);
  border-color: var(--color-5);
  color: var(--color-text);
  accent-color: var(--color-4);
}

.red-button {
  background-color: var(--color-warning);
}

.basic-card-button {
  background-color: var(--color-3);
}

.cancel-button {
  background-color: var(--color-cancel);
}

.green-button {
  background-color: var(--color-green-button);
}

.basic-button svg,
.basic-card-button svg,
.green-button svg,
.cancel-button svg,
.red-button svg {
  width: 85%;
  height: auto;
}

/* The logout button was being weird on desktop */
nav .button_to svg {
  @media (min-width: 768px) {
    width: 25%
  }
}

.basic-button span,
.basic-card-button span,
.red-button span,
.cancel-button span,
.green-button span,
.navbar ul li button span {
  @media(max-width: 768px) {
    display: none;
  }
}
