@import "colors.css";

.workouts {
  display: flex;
  flex-direction: row;
  gap: 20px;
  flex-wrap: wrap;
  margin: 15px;
}

.workout {
  display: flex;
  flex-direction: column;
  background-color: var(--color-3);
  border-radius: 10px;
  padding: 1rem;
  box-shadow: 0 0 12px var(--color-2);
  width: 100%;
  height: 15rem;

  @media (min-width: 768px) {
    width: 25rem;
  }
}

.workout a {
  font-size: 1.5rem;
}

.workout-form {
  display: flex;
  flex-direction: column;
}

.workout-checkbox-entry {
  display: flex;
  flex-direction: row;
}

.workout-card-top {
  height: 10%
}

.workout-card-content {
  display: flex;
  flex-direction: column;
  height: 70%;
  padding-top: 1rem;
}

.workout .tags {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  flex-wrap: wrap;
}

.workout-card-bottom {
  display: flex;
  flex-direction: row-reverse;
}

.workout .tag {
  height: fit-content;
}

.workout-card-bottom {}
