@import "colors.css";

.workouts {
  display: flex;
  flex-direction: row;
  gap: 20px;
  flex-wrap: wrap;
  margin: 15px;
}

.workout {
  background-color: var(--color-3);
  border-radius: 10px;
  padding-left: 10px;
  padding-right: 10px;
  box-shadow: 0 0 12px var(--color-2);
  width: 20vw;
  height: 20vh;
}
