@import "colors.css";

.workout-instances {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.workout-instance {
  border: solid;
  padding-top: 1.5em;
  padding-bottom: 1.5em;
  padding-left: 1em;
  padding-right: 1em;
  border-width: 2px;
  border-radius: 10px;
  border-color: var(--color-3);
}

.workout-instance-title {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}

.workout-instance h2 {
  margin: 0;
}

.workout-instance-controls {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1em;
}

.shift-instance-controls {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 1rem;
}

.shift-instance-controls button {
  /* opacity: 50%; */
  background-color: transparent;
}

.shift-instance-controls button:hover {
  /* opacity: 50%; */
  background-color: var(--color-3);
}

.workout-instance:target {
  border-color: var(--color-links);
}

.new-workout-instance form {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
}
