@import "colors.css";

.workout-sets {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  color: var(--color-text);
  padding: 0;
}

.workout-sets li turbo-frame,
.workout-instance a,
.workout-instance .workout-set-form {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 1rem;
  background-color: var(--color-2);
  padding: 0.5rem;
  gap: 1rem;
}

.workout-sets li turbo-frame .workout-set-form {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  width: 100%;
  flex-wrap: wrap;
}

.workout-sets li .submit {
  @media (min-width: 768px) {
    margin-left: auto;
  }
}

.workout-sets li .button_to {
  margin-left: auto;
}

.workout-sets li #workout_set_amount_imp,
.workout-sets li #workout_set_amount_metric,
.workout-sets li #workout_set_reps {
  width: 4rem;
}

/* this is styled same as button primitive */
.workout-sets a {
  all: unset;
  background-color: var(--color-3);
  color: var(--color-text);
  border-radius: 0.5em;
  padding: 0.5em;
  cursor: pointer;
}
