@import "colors.css";

.session-cards {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  flex-wrap: wrap;

  @media (min-width: 768px) {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
  }
}

.session-card {
  display: flex;
  flex-direction: column;
  background-color: var(--color-2);
  border-radius: 10px;
  padding: 1em;
  box-shadow: 0 0 12px var(--color-2);
  border: solid;
  border-color: var(--color-3);
  border-width: 2px;
  height: 15rem;
  width: 100%;

  @media (min-width: 768px) {
    width: auto;
  }
}

.session-card-top {
  border-bottom: solid;
  border-color: var(--color-3);
  border-width: 1px;
  padding-bottom: 0.5rem;
  height: 15%;
}

.session-card-top a {
  display: flex;
  align-items: center;
  flex-direction: row;
  text-decoration: none;
}

.session-card-top h1 {
  margin: 0;
  font-size: 1.25rem;
}

.session-card-top svg {
  margin-left: auto;
}

.session-card-workouts {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  list-style-type: none;
  padding-left: 0px;
  max-height: 70%;
}

.session-card-bottom {
  height: 20%;
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  margin-top: auto;
  gap: 1em;
  color: var(--color-text)
}

/* .session-card a { */
/*   font-size: 1.5rem; */
/*   margin-top: 0.5rem; */
/* } */

.session-card-workouts li {
  color: var(--color-text);
}

.session-card-bottom em {
  margin-right: auto;
}

.session-title turbo-frame {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.session-title h1 {
  margin: 0;
}

.session-title turbo-frame form {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.session-title form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1em;
}

.complete-workout-session {
  display: flex;
  flex-direction: column;
  background-color: var(--color-2);
  border-radius: 10px;
  padding: 1em;
  gap: 1em;
  box-shadow: 0 0 12px var(--color-2);
}

.complete-workout-session h2 {
  margin: 0
}
