@import "colors.css";

.workout-instances {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.workout-instance {
  border: solid;
  padding-top: 1.5em;
  padding-bottom: 1.5em;
  padding-left: 1em;
  padding-right: 1em;
  border-width: 2px;
  border-radius: 10px;
  border-color: var(--color-3);
}

.workout-instance h1 {
  margin: 0;
}

.workout-instance-controls {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1em;
}
